.login-signup-container{
    background-image: url('../../assets/pexels-los-muertos-crew-7772341.jpg');
    background-size: cover;
    position: relative;
    width: 100vw;
    min-height: 100vh;

    max-height: calc(fit-content);
    overflow-x: hidden;

    .login-signup {
        position: relative;
        top: calc(90px);
        left: 50%;
        transform: translateX(-50%);
        width: 515px;
        height: 650px;
        background-color: #AC2727;
    }
}