.expand-nav {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 80px;
    width: 0;
    background-color: #735c5cda;
    z-index: 101;
}

.expand-nav-open {
    width: 300px;
}