.explore {
    position: relative;
    background-color: #E56B6B;
    width: 100%;
    min-height: 100vh;
    max-height: max-content; 
    padding-bottom: 180px;

    .container {
        
        position: relative;
        right: 100px;
        margin-left: auto;
        top: 150px;
        width: calc(100% - 200px - 253px);
        min-height: 100vh;
        max-height: fit-content;
    } 
}

.explore::before {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: url('../../assets/pexels-los-muertos-crew-7772341.jpg');
    background-size: cover;

}