.info-card {
    width: 100%;
    height: 100%;
    position: relative;
    content: "";

    .background {
        position: absolute;
        top: calc(50% + 10px);
        left: calc(50% + 10px);
        background-color: #CC4343;
        width: 80%;
        height: 240px;
        transform: translate(calc(-50% - 20px), calc(-50% - 20px));
        z-index: 99;
    }

    .info{
        content: "";
        position: relative;
        top: calc(50% + 10px);
        left: calc(50% + 10px);
        transform: translate(-50%, -50%);
        background-color: #EA9A9A;
        width: 80%;
        height: 240px;
        z-index: 100;

        display: flex;
        flex-direction: column;
        text-align: left;

        h1 {
            padding: 10px 10px 0px;
            font-weight: bold;
            font-size: 39px;
            color: white;
        }

        hr {
            position: relative;
            width: 75%;
            height: 10px;
            background-color: black;
            border: none;
            left: 10px;
        }

        p {
            padding: 0px 10px 0px;
            font-weight: normal;
            font-size: 22px;
            color: white;
            
        }
    }
}